/concept
/icons
/models
/releases
/.idea
/videos
/*.mkv
/objectdata
/wowr_elvenclan.w3x/**/*.blp
/wowr_elvenclan.w3x/**/*.tga
/wowr_elvenclan.w3x/**/*.dds
/wowr_elvenclan.w3x/**/*.mdx
/wowr_elvenclan.w3x/**/*.mdl
/wowr_elvenclan.w3x/**/*.wav
/wowr_elvenclan.w3x/**/*.mp3
/wowr_elvenclan.w3x/**/*.flac
/wowr_elvenclan.w3x/**/*.fdf
/wowr_elvenclan.w3x/**/*.toc
/wowr_elvenclan.w3x/**/*.ai
/wowr_brokenisles.w3x/**/*.blp
/wowr_brokenisles.w3x/**/*.tga
/wowr_brokenisles.w3x/**/*.dds
/wowr_brokenisles.w3x/**/*.mdx
/wowr_brokenisles.w3x/**/*.mdl
/wowr_brokenisles.w3x/**/*.wav
/wowr_brokenisles.w3x/**/*.mp3
/wowr_brokenisles.w3x/**/*.flac
/wowr_brokenisles.w3x/**/*.fdf
/wowr_brokenisles.w3x/**/*.toc
/wowr_brokenisles.w3x/**/*.ai
/wowr_orgrimmar_tunnels.w3x/**
/wowr_ashenvale.w3x/**
/wowr_felwood.w3x/**
