/releases
/.idea
/*.mkv
/objectdata
/wowr_elvenclan.w3x/**/*.blp
/wowr_elvenclan.w3x/**/*.tga
/wowr_elvenclan.w3x/**/*.dds
/wowr_elvenclan.w3x/**/*.mdx
/wowr_elvenclan.w3x/**/*.mdl
/wowr_elvenclan.w3x/**/*.wav
/wowr_elvenclan.w3x/**/*.mp3
/wowr_elvenclan.w3x/**/*.flac
/wowr_elvenclan.w3x/**/*.fdf
/wowr_elvenclan.w3x/**/*.toc
/wowr_elvenclan.w3x/**/*.ai
