/Warcraft III.lnk
/concept
/icons
/models
/releases
/savegames
/.idea
/videos
/*.mkv
/objectdata
/node_modules
/replays
/package.json
/package-lock.json
/backups
/logs
/out
/scripts/node_modules
/scripts/package.json
/scripts/package-lock.json
/scripts/backups
/scripts/logs
